h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
P{
    font-family: 'Raleway', sans-serif;
}
.banner-img{
    background: #000 url(slide-1.jpg) center center;
    background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.925);
    opacity: 0.6;
}